NEXT_PUBLIC_ML_API_URL=https://pjk-gm011-production-8b5f.up.railway.app
NEXT_PUBLIC_CHAT_API_URL=https://pjk-gm011-production-8b5f.up.railway.app
NEXT_PUBLIC_SOS_API_URL=https://pjk-gm011-production-8b5f.up.railway.app

NEXT_PUBLIC_USE_MOCK=false
